<section id="trips-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <h1>Create trip</h1>
                <div class="col-md-6">
                    <form class="form-horizontal" ng-submit="vm.createTrip(vm.trip)">
                        <div class="form-group">
                            <label class="control-label">Origin</label>
                            <input class="form-control" type="text"
                                   ng-model="vm.startAddress"
                                   places-auto-complete
                                   component-restrictions="{country:'ukr'}"
                                   on-place-changed="vm.startChanged()"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Destination</label>
                            <input class="form-control" type="text"
                                   ng-model="vm.endAddress"
                                   places-auto-complete
                                   types="['address']"
                                   component-restrictions="{country:'ukr'}"
                                   on-place-changed="vm.endChanged()"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <input class="form-control" ng-model="vm.trip.price">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Departure date</label>
                            <div class="input-group">
                                <input class="form-control" style="width: 99%" uib-datepicker-popup datepicker-options="vm.tripOptions"
                                       ng-model="vm.trip.departureDate" is-open="vm.departurePickerOpen" close-text="Close">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vm.openDepartureDatePicker()">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div>
                            <h2>Way points</h2>
                            <ul dnd-list="vm.wayPoints" class="list-unstyled">
                                <li ng-repeat="waypoint in vm.trip.wayPoints"
                                    dnd-draggable="waypoint"
                                    dnd-moved="vm.wayPoints.splice($index, 1)">
                                    <div class="form-group">
                                        <label class="control-label">Way point #{{$index + 1}}</label>
                                        <input class="form-control"
                                               ng-model="waypoint.text"
                                               places-auto-complete
                                               on-place-changed="vm.changed(waypoint)"
                                               component-restrictions="{country:'ukr'}">
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-lg btn-success" ng-click="vm.addWaypoint()"
                                    type="button">Add waypoint</button>
                            <br>
                            <br>
                        </div>
                        <button class="btn btn-lg btn-primary pull-right" type="submit">Create trip</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <ng-map zoom="{{vm.mapProperties.zoom}}" center="{{vm.mapProperties.center}}" style="height:90%">
                        <marker position="{{vm.trip.startPoint.geometry.location}}"></marker>
                        <marker position="{{wayPoint.place.geometry.location}}"
                                ng-repeat="wayPoint in vm.trip.wayPoints"></marker>
                        <marker position="{{vm.trip.endPoint.geometry.location}}"></marker>
                    </ng-map>
                </div>
            </div>
        </div>
    </section>
</section>
